<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="pagetitle">Calculator</h1>
    <div id="app" v-cloak>
            <div class='calculator_head'> 
                <div style="height:50%; display: flex; justify-content: space-between;">
                    <p style="font-size:30px; margin: 10px;">
                        {{ last_store }}
                    </p>
                    <p style="font-size:30px; margin: 10px;">
                        {{ last_operation }}
                    </p>
                </div>
                <div style="height:50%; text-align: right; margin-right: 10px"> 
                    {{ current_store }} 
                </div> 
            </div>
            <template v-for="character in characters">
                <template v-for="c in character">
                    <button v-if="c !== 'Clear'" @click="buttonClicked(c)" class="calculator_button">{{ c }}</button>
                    <button v-else class="calculator_button ans_button">{{ c }}</button>
                </template>
                <br>
            </template> 
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>